@charset "UTF-8";

body
{
	background-image:url('../images/bg_medium_seamless_compressed_trimmed.png');
	background-position: center top;
	background-color: rgb(0,0,0);
	background-repeat:repeat-x;
	color: rgb(255, 255, 255);
	font-family: 'MyGillSansMTPro-Medium', 'Gill Sans', Georgia;
	font-size: 11pt;
	-webkit-font-smoothing: antialiased;
}

a, img {
    border:none;
}

#single_div {
	position: absolute;
	left: 50%;
	top: 20px;
	z-index: 2000;
}

#new_single_out {
	position: relative;
	left: -50%;
}

.nav_text {
	width:100%;
	height:100%;
}

.path_div a:link {text-decoration: none;}
.path_div a:visited {text-decoration: none;}
.path_div a:active {text-decoration: none;}
.path_div a:hover {text-decoration: none;}

#logo_div {
	position:relative;
	z-index: 1000;

	background-image:url('../images/logo_with_band.png');

	width: 560px;
	height: 238px;
	min-width: 560px;
	min-height: 238px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	margin-bottom: 0px;
}

#head_jp 	{ position:absolute; left:30px; top:30px;}
#head_anton 	{ position:absolute; left:30px; top:29px;}
#head_felix { position:absolute; left:30px; top:16px;}
#head_max { position:absolute; left:30px; top:26px;}
#info_jp { position:absolute; left:-68px; top:-36px;}
#info_anton { position:absolute; left:-65px; top:-46px;}
#info_felix { position:absolute; left:-65px; top:-58px;}
#info_max { position:absolute; left:-65px; top:-46px;}

#head_jp_div {
	position:absolute;
	/*left:140px;top:36px;width:19px;height: 29px; 30px space*/
	left:110px;top:6px;width:79px;height: 89px;
}
#head_anton_div {
	position:absolute;
	/*left:220px;top:29px;width:24px;height:25px; 29 extra up, 30 others*/
	left: 190px;top: 0px;width:84px;height:84px;
}
#head_felix_div {
	position:absolute;
	/*left:327px;top:16px;width:23px;height:31px; 16 extra up, 30 others*/
	left:297px;top:0px;width:83px;height:77px;
}
#head_max_div {
	position:absolute;
	/*left:411px;top:26px;width:19px;height:23px; 26 extra up, 30 others*/
	left:381px;top:0px;width:79px;height:79px;
}

#fb_fan_page_like_div {
	position:absolute;
 	bottom:6px;
 	left:-99px;
}

#top_bar {
	background-image: url('../images/top_bar.png');
	height: 31px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#top_bar table {
	width:100%;
	border-collapse:collapse;
	text-align: center;
	table-layout: fixed;
	height: 31px;
}

#top_bar a {
	width:100%;
	font-size: 14pt;
	color: rgb(255, 255, 255);
}

#top_bar a:link {text-decoration: none;}
#top_bar a:visited {text-decoration: none;}
#top_bar a:active {text-decoration: none;}
#top_bar a:hover {text-decoration: none;}

#top_icons_div {
	position: absolute;
	left: 521px;
 	bottom:3px;
 	width: 250px;
}

.top_icon {
    margin-left: 5px;
    margin-right: 5px;
}

.content_header {
	margin-top: 0px;
}

h1, h2, h3, h4 {font-weight: normal;}

a:link {text-decoration: underline; color: rgb(255, 255, 255)}
a:visited {text-decoration: underline; color: rgb(180, 180, 180)}
a:active {text-decoration: underline; color: rgb(255, 255, 255)}

#mid_container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	width: 764px;
}

.center_x {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#content_container {
	background-image: url('../images/content_bg.png');

	padding-top: 50px;
	padding-bottom: 80px;
	padding-left: 40px;
	padding-right: 40px;
}

.fb-comments, .fb-comments span, .fb-comments iframe {width: 100% !important; margin-top:5px;}
